!!! 5
%html{lang: 'en'}
  %head
    %title Scribe IRC Logger

  %body
    %h1{:style => 'float: left; margin-right: 20px;'}
      %a{:href => '/'}Scribe

    .search
      %form{:action => '/search', :method => 'get'}
        %input{:type => 'text', :name => 'q', :placeholder => 'find something...'}
        %input{:type => 'submit', :value => 'Search'}

    #main{:style => 'clear: both;'}
      = yield

    %footer{:style => 'font-size: small; position: relative; padding-top: 100px'}
      %a{:href => 'http://github.com/andypiper/scribe'}fork me on Github
