%table
  %tr
    %th time
    %th channel
    %th message
  - @messages.each do |message|
    %tr
      %td
        %a{:href => "/#{message.id}"}= message.created_at.strftime('%I:%M&nbsp;%p')
      %td
        %a{:href => "/channel/#{message.channel.gsub('#', '')}"}= message.channel
      %td= message.message
