%form{:action => '/secret', :method => 'post'}
  - if @secret
    %p
      %label Old Secret
      %input{:type => 'text', :name => 'old'}
  %p
    %label New Secret
    %input{:type => 'text', :name => 'new'}
  %p
    %input{:type => 'submit', :value => 'Save Secret'}
